<div class="container seller-home">
  <h2 class="page-title">Seller Homepage</h2>

  <strong>
    <%= link_to seller_path(@seller), class:"seller-home-link" do %>
      <h5>See customer view of <%= @seller.shop_name %>'s page</h5>
    <% end %>
  </strong>

  <h3>My Details</h3>

    <div class="seller-details" data-controller="edit-seller">
      <div class="seller-detail">
        <p  data-edit-seller-target="name">Shop Name: <%= @seller.shop_name %></p>
        <%# MAKE THIS A LINK TO EDIT %>
        <i class="far fa-edit" data-edit-seller-target="nameIcon" data-action="click->edit-seller#displayNameForm"></i>
        <%= simple_form_for @seller, html: { class: "d-none", data: { edit_seller_target: "nameForm", action: "submit->edit-seller#update" } } do |f| %>
          <%= f.input :shop_name, label:'Shop Name:' %>
          <%= f.submit 'Update', class:"button" %>
        <% end %>
      </div>
      <div class="seller-detail">
        <p  data-edit-seller-target="desc">Shop Description: <%= @seller.shop_description %> </p>
         <%# MAKE THIS A LINK TO EDIT %>
        <i class="far fa-edit" data-edit-seller-target="descIcon" data-action="click->edit-seller#displayDescForm"></i>
        <%= simple_form_for @seller, html: { class: "d-none", data: { edit_seller_target: "descForm", action: "submit->edit-seller#update" } } do |f| %>
          <%= f.input :shop_description, label:'Shop Description:' %>
          <%= f.submit 'Update', class:"button" %>
        <% end %>
      </div>
    </div>

  <%# add edit details and listings, delete listings functionality %>

  <h3>My Listings (<%= @listings.count %>)</h3>
  <div class="listings">
    <strong><%= link_to "List a new item", new_listing_path(@seller), class:"button add-listing" %></strong>

    <% if @listings.empty? %>
      <p>You haven't listed any items yet.</p>
    <% else %>
      <div class="order-cards">
        <% @listings.each do |listing| %>
          <div class="order-card">
              <%= cl_image_tag listing.photo.key %>
              <div class="order-card-infos">
                <strong><p><%= listing.title %> - <%= listing.size %></p></strong>
                <p class="description"><%= listing.description %></p>
                <p>£<%= listing.price.round() %></p>
                <em>
                  <p class="dates">Last updated on <%= listing.updated_at.to_date.strftime("%d %b %Y") %></p>
                </em>
                <%= link_to listing_path(listing), method: :delete, data: { confirm: "Are you sure you want to delete this item?" } do %>
                  <i class="far fa-trash-alt delete"></i>
                <% end %>
                <i class="far fa-edit edit"></i>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>


  <h3>My Sales (<%= @sales.count %>)</h3>
  <div class="sales">
    <% if @sales.empty? %>
      <p>You haven't sold any items yet.</p>
    <% else %>
      <p>Total sales: £<%= @sales_value.round() %></p>
      <div class="order-cards">
        <% @sales.each do |listing| %>
          <div class="order-card">
              <%= cl_image_tag listing.photo.key %>
              <div class="order-card-infos">
                <strong><p><%= listing.title %> - <%= listing.size %></p></strong>
                <p>Sold to <%= listing.order.buyer.user.username %></p>
                <p>Dispatch address: <%= listing.order.buyer.address %></p>
                <p>£<%= listing.price.round() %></p>
                <em>
                  <p class="dates">Sold on <%= listing.order.updated_at.to_date.strftime("%d %b %Y") %></p>
                </em>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


</div>
