<div class="container seller-home">
  <h2 class="page-title">Seller Homepage</h2>

  <h3>My Details</h3>

    <div class="seller-details">
      <div class="seller-detail">
        <p>Shop Name: <%= @seller.shop_name %></p>
        <i class="far fa-edit"></i>
      </div>
      <div class="seller-detail">
        <p>Shop Description: <%= @seller.shop_description %> </p>
        <i class="far fa-edit"></i>
      </div>
    </div>

  <%# add edit details and listings, delete listings functionality %>

  <h3>My Listings (<%= @listings.count %>)</h3>
  <div class="listings">
    <strong><%= link_to "List a new item", new_listing_path(@seller), class:"add-listing" %></strong>
    <% if @listings.empty? %>
      <p>You haven't listed any items yet.</p>
    <% else %>
      <%= render 'shared/listing_card', collection: @listings %>
    <% end %>

  </div>


  <h3>My Sales (<%= @sales.count %>)</h3>
  <div class="sales">
    <% if @sales.empty? %>
      <p>You haven't sold any items yet.</p>
    <% else %>
      <%= render 'shared/listing_card', collection: @sales %>
    <% end %>
  </div>

  <strong>
    <%= link_to seller_path(@seller), class:"add-listing" do %>
      <p>See customer view of <%= @seller.shop_name %>'s page</p>
    <% end %>
  </strong>
</div>
