<div class="navbar navbar-expand navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
            <%= image_tag  "avatar_logo.png", class: "logo dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
              <%# add the logic%>
              <%= link_to "New in", new_in_listings_path, class: "dropdown-item" %>
              <%= link_to "Search", listings_path, class: "dropdown-item" %>
              <%# <p>By Cateogry</p> %>
              <%= link_to "Dresses", dresses_listings_path, class: "dropdown-item category" %>
              <%= link_to "Tops", tops_listings_path, class: "dropdown-item category" %>
              <%= link_to "Trousers", trousers_listings_path, class: "dropdown-item category" %>
              <%= link_to "Jeans", denim_listings_path, class: "dropdown-item category" %>
              <%= link_to "Skirts", skirts_listings_path, class: "dropdown-item category" %>
              <%= link_to "Jackets and Coats", jackets_listings_path, class: "dropdown-item category" %>
              <%= link_to "Activewear", activewear_listings_path, class: "dropdown-item category" %>
              <%= link_to "Accessories", accessories_listings_path, class: "dropdown-item category" %>
              <%= link_to "About us", pages_path, class: "dropdown-item" %>
            </div>
          </li>
    </ul>
  </div>

  <div id="nav-title">
    <h1>
      <%= link_to "MAMPAN", root_path %>
    </h1>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%# <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        <%# </li> %>
        <li class="nav-item dropdown">
          <%= image_tag "burger.png", class: "burger-menu dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%# add the logic%>
            <%= link_to "Profile", "#", class: "dropdown-item" %>
            <%= link_to "Seller Home", "#", class: "dropdown-item" %>
            <%= link_to "Become a Seller", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
