<div class="container">
    <div>
      <%= cl_image_tag @order.listing.photo.key, width: '100%' %>
    </div>
    <h2 class="page-title">Order number: <%= @order.id %></h2>
    <p>Status: <%= @order.state %></p>
    <p>Order date: <%= @order.created_at.to_date.strftime("%d %b %Y") %></p>
    <p>1 x <%= @order.listing.title %> - <%= @order.listing.size %></p>
    <p>Total: <%= humanized_money_with_symbol @order.amount %></p>
    <em><p>Estimated delivery in <strong>3-5 business days</strong></p></em>
</div>
