<div class="container profile">
  <h2 class="page-title">Hello, <%= current_user.username %>!</h2>

  <h3>My Details</h3>
  <div class="buyer-details" data-controller="edit-user">
    <%# edit in line %>
    <div class="buyer-detail">
      <p >Email: <%= current_user.email %></p>
      <%# <i class="far fa-edit"></i> %>
    </div>
    <%# <div class="buyer-detail"> %>
      <%# <p>Password: ******* </p> %>
      <%# <i class="far fa-edit"></i> %>
    <%# </div> %>
    <div class="buyer-detail">
      <p data-edit-user-target="address">Shipping Address: <%= @buyer.address %> </p>
      <i class="far fa-edit" data-edit-user-target="icon" data-action="click->edit-user#displayForm"></i>
      <%= simple_form_for @buyer, html: { class: "d-none", data: { edit_user_target: "form", action: "submit->edit-user#update" } } do |f| %>
        <%= f.input :address, label:'Shipping Address:'  %>
        <%= f.submit 'Update', class:"button" %>
      <% end %>
    </div>

    <%# if a seller go to seller profile, otherwise: %>
    <% if current_user.seller.nil? %>
      <%= link_to "Become a seller", new_seller_path %>
    <% else %>
      <strong><%= link_to "Go to my seller homepage", seller_home_path %></strong>
    <% end %>
  </div>

  <h3>My Orders (<%= @orders.count %>)</h3>

  <%# Current orders then view all button - add with stimulus %>
  <div class="order-cards">
    <% @orders.each do |order| %>
      <div class="order-card">
          <%= cl_image_tag order.listing.photo.key %>
          <div class="order-card-infos">
            <% if (order.created_at.to_date + 5) > Date.today %>
              <strong><p>Estimated delivery date <%= (order.created_at.to_date + 5).strftime("%d %b %Y") %></p></strong>
            <% else %>
              <strong><p>Delivered on <%= (order.created_at.to_date + 5).strftime("%d %b %Y") %></p></strong>
            <% end %>
            <p><%= order.listing.title %> - <%= order.listing.size %></p>
            <p>Sold by <%= order.listing.seller.shop_name %></p>
            <p><%= humanized_money_with_symbol order.amount %></p>
            <p>Order date: <%= order.created_at.to_date.strftime("%d %b %Y") %></p>
            <p>Order number: <%= order.id %></p>
          </div>
      </div>
    <% end %>
  </div>

</div>
